@import '../node_modules/bootstrap/scss/bootstrap';

body{
  background: linear-gradient(180deg, rgb(117, 33, 20) 0%, rgb(223, 18, 18) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.grid-container{
  display: grid;
  grid-template-rows: 0.3fr 1fr repeat(2, 0.3fr);
  grid-template-columns:  repeat(4, 1fr);
  grid-template-areas: 
  "img img title title"
  "img img desc desc"
  "img img info info"
  "img img msg msg";
  align-content: center;
  background-color: white;
  border-radius: 20px 0px 20px 0px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 20px;
}
.image{
  grid-area: img;
  height: 2fr;
  width: 2fr;
  border-radius: 20px 0px 20px 0px;
}
.grid-title{
  grid-area: title;
  text-align: center;
}
.desc{
  grid-area: desc;
}
.msg{
  grid-area: msg;
}
.info{
  grid-area: info;
  text-align: left;
  font-weight: bold;
}
@media only screen and (max-width: 1279px) {
  .grid-container{
  align-content: center;
  background-color: white;
  border-radius: 20px 0px 20px 0px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 20px;
  }
  .image{
    grid-area: img;
    height: 2fr;
    width: 2fr;
    border-radius: 20px 0px 20px 0px;
  }
  .grid-title{
    grid-area: title;
    text-align: center;
  }
  .desc{
    grid-area: desc;
  }
  .msg{
    grid-area: msg;
  }
  .info{
    grid-area: info;
    text-align: left;
    font-weight: bold;
  }
    
}
